.contenedor-login{
    width: 320px;
    height: 615px;
    background: #000;
    color: #fff;
    top: 9%;
    left: 40%;
    position: absolute;
    transform: translate(-50% -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

.contenedor-login h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
}
