body{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background: dimgray;
    
}
.contenedor-login{
    margin-top: 20px;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 13px 11px 1px black;
}

a, input[type = "submit"]{
    margin-top: 20px;
    width: 100%;
}

